/*  Main  */

* {
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #000;
    font-family: 'simpler' Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.wrapper {
    margin: auto auto;
    padding: 0 16px;
    width: 100%;
    max-width: 960px;
    /* direction:rtl; */
    text-align: center;
}

.buttons-container {
    display:flex;
    align-items: center;
    justify-content: center;
}
.button {
    background:#ddd;
    font-size:30px;
    padding:5px 12px;
    margin:4px;
}
#frame {
    height: 500px;
    max-width: 900px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    transition: all 0.1s ease-out;
    border-radius:8px;
    border:2px solid #fff;
}

#frame.frameError {
    border-color: #ccc;
}

.block-word {
    margin-left: 20px;
    white-space: pre-line;
}

.block-letter.size1{ height: 120px; margin:17px 0;}
.block-letter.size2{ height: 100px; margin:15px 0;}
.block-letter.size3{ height: 80px; margin:12px 0;}
.block-letter.size4{ height: 60px; margin:10px 0;}
.block-letter.size5{ height: 50px; margin:10px 0;}
.block-letter.size6{ height: 40px;margin:5px 0; }

.block-letter.spacer {
    width: 20px;
    opacity: 0;
}

.cursor {
    height: 65px;    
    background: #000;
    display: inline-block;
    width: 2px;
}

.cursor.size1 {height: 140px;}
.cursor.size2 {height: 120px;}
.cursor.size3 {height: 110px;}
.cursor.size4 {height: 80px;}
.cursor.size5 {height: 50px;}
.cursor.size6 {height: 50px;}


/* cursor animation */

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  @-webkit-keyframes blink {
    0%   { background: #fff }
    50%  { background: #FF3D12 }
    97%  { background: #FF3D12 }
    100% { background: #fff }
  }
  
  @-moz-keyframes blink {
    0%   { background: #fff }
    50%  { background: #FF3D12 }
    97%  { background: #FF3D12 }
    100% { background: #fff }
  }
  
  @-ms-keyframes blink {
    0%   { background: #fff }
    50%  { background: #FF3D12 }
    97%  { background: #FF3D12 }
    100% { background: #fff }
  }
  
  @-o-keyframes blink {
    0%   { background: #fff }
    50%  { background: #FF3D12 }
    97%  { background: #FF3D12 }
    100% { background: #fff }
  }